.diaryEntry {
  position: relative;
  background-color: lightgrey;
//  min-height: 15px;
  margin: 15px 0;
  padding: 0px;
  &.even{
    background-color: grey;
  }
}

.diaryEntry_item {
  margin: 4px;
}

.diaryEntry_column {
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
}

.diaryEntry_title {
  font-size: 15px;
}

.diaryEntry_desc {
  //padding: 5px;
  font-size: 13px;
}
