.dayView{
  position: relative;
  padding: 0 10px;
}

.dayView_main {
  position: relative;
  margin: auto;

  max-width: 980px;
  background-color:lightgrey;
}

.dayView_dayTitle {
  padding: 7px;

  border: 1px solid black;
  box-sizing: border-box;

  text-align: left;
}

.dayView_dayTitle_content {
}

.dayView_container_section {
  float: left;
  width: 50%;
  border: 1px solid yellow;
  box-sizing: border-box;
}
